.perfil-de-usuario-contenedor {
  margin-top: 3rem;
  display: flex;
  background-color: white;
  padding-bottom: 7%;
}

.title-profile {
  font-size: 2rem;
  font-weight: 600;
}
/*==========SECCION DE SIDE BAR =============*/
.perfil-de-Usuario-SideBar {
  display: flex;
  flex-direction: column;
  width: 30%;

  .title-profile {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }

  .Usuario-SideBar-Boton {
    background-color: var(--color-morado);
    border-radius: 0 50px 50px 0;
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    text-decoration: none;
    transition: background-color 0.1s ease;

    h1 {
      padding: 1rem;
      margin-left: 7rem;
      font-size: 1.3rem;
      font-weight: 600;
      color: white;
    }
  }

  .Usuario-SideBar-Boton:hover {
    background-color: var(--color-rosa);
  }
}

/*==========SECCION DE FOTO Y DIRECCION DE USUARIO==========*/
.informacion-de-usuario-seccion {
  margin-left: 4%;
  width: 50%;
}
.usuario-info-resumen {
  display: flex;
  position: relative;
  bottom: 1rem;

  .usuario-foto-seccion {
    display: flex;
    .foto-container {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .foto-de-perfil {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
      }
    }
    .icono-editar-foto {
      width: 30px;
      height: auto;
      position: relative;
      top: 25%;
      right: 15%;
    }
  }

  .usuario-informacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1rem;
    .direccion {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      h2 {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
      img {
        width: 1.6rem;
        height: auto;
      }
    }
  }
}

.usuario-nav-botones-movile {
  display: none;
}
.btn-cerrar-sesion {
  margin-top: 1rem;
  background-color: rgb(253, 229, 249);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.btn-cerrar-sesion:hover {
  background-color: red;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn-Favoritos {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: var(--color-morado);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.btn-Favoritos:hover {
  background-color: var(--color-rosa);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*=========FORMULARIO CON INFORMACION ===========*/

.form-nivel {
  display: flex;
  margin-bottom: 1.2rem;
}

.elemento-de-formulario {
  width: 50%;
  label {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
  .input-grey {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e8e8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    width: 95%;
    height: 3rem;
    input {
      border-style: none;
      width: 90%;
      margin-left: 1rem;
      background-color: #e8e8e8;
    }
    input:focus {
      outline: none;
    }
    img {
      margin-right: 1rem;
    }
  }
}

.botones-cambios-usuarios {
  margin-top: 2rem;
  width: 95%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
.btn-guardar-cambios {
  padding: 0.8rem 2rem;
  background-color: var(--color-rosa);
  color: white;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.btn-cancelar-cambios {
  padding: 0.8rem 2rem;
  background-color: rgb(255, 135, 135);
  border-radius: 10px;
  margin-left: 0.5rem;
  color: white;
}

/*---------------------------------MEDIA QUERY------------------------------*/

@media (max-width: 1200px) {
  .perfil-de-usuario-contenedor {
    margin-top: 4rem; /**/
  }
  /*==========SECCION DE SIDE BAR =============*/
  .perfil-de-Usuario-SideBar {
    display: flex;
    flex-direction: column;

    margin-right: 0rem;

    .title-profile {
      font-size: 1.5rem;
      margin-left: 1rem;
    }

    .Usuario-SideBar-Boton {
      background-color: var(--color-morado);
      border-radius: 0 50px 50px 0;
      margin-top: 2rem;
      display: flex;
      justify-content: start;
      text-decoration: none;
      transition: background-color 0.1s ease;

      h1 {
        padding: 1rem;
        padding-left: 3rem;
        margin-left: 0rem;
        font-size: 0.9rem;
      }
    }
  }

  /*==========SECCION DE FOTO Y DIRECCION DE USUARIO==========*/
  .informacion-de-usuario-seccion {
    width: 100%;
  }
  .form-nivel {
    width: 100%; /**/
  }
}

/*------------MOVILES------------------*/

@media (max-width: 850px) {
  .perfil-de-usuario-contenedor {
    margin-top: 2rem; /**/
    justify-content: center; /**/
  }

  .perfil-de-Usuario-SideBar {
    display: none;
  }
  /*==========SECCION DE FOTO Y DIRECCION DE USUARIO==========*/
  .usuario-nav-botones-movile {
    display: flex;
  }

  .informacion-de-usuario-seccion {
    margin-right: 1.5rem;
  }
  .usuario-info-resumen {
    bottom: 0rem;
    .direccion h2 {
      font-size: 0rem;
    }

    .usuario-foto-seccion {
      .foto-container {
        width: 130px; /**/
        height: 130px;
      }
    }
  }

  /*=========FORMULARIO CON INFORMACION ===========*/

  .form-nivel {
    display: flex;
    flex-direction: column; /**/
    margin-bottom: 0rem; /**/
  }

  .elemento-de-formulario {
    width: 100%;
    margin-top: 1rem;
    .input-grey {
      width: 100%;
    }
  }

  #referencias {
    width: 100%; /**/
  }

  .metodos-de-pago-seccion {
    .checkbox-metodos-de-pago {
      label {
        margin-right: 1rem; /**/
      }
    }
  }
}

@media (max-width: 600px) {
  .perfil-de-usuario-contenedor {
    margin-top: 1rem;
  }

  .informacion-de-usuario-seccion {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
  }

  .usuario-info-resumen {
    display: flex;
    position: static;
    bottom: 0rem;

    .usuario-foto-seccion {
      margin-bottom: 1rem;
      position: relative;
      left: 11px;
    }
    .icono-editar-foto {
      width: 30px;
      height: auto;
      position: relative;
      right: 30%;
    }
  }

  .title-profile {
    font-size: 1.3rem;
  }

  .usuario-info-resumen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .usuario-informacion-principal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .direccion {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        h2 {
          font-size: 1rem;
          margin-left: 0.5rem;
        }
        img {
          width: 1.6rem;
          height: auto;
        }
      }
    }
  }
}
