:root {
  --primary-color: #425184;
  --secondary-color: #D579AF;
}

/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.contact-section {
  background-color: var(--primary-color);
  padding: 1rem 0;
  
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 360px) {
  .contact-section {
    padding: 20px;
  }
}



.cat-img {
  max-width: 70%;
}
@media (max-width: 768px) {
  .cat-img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}




.contact-title {
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  margin-top: 20px;
}
.contact-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}


.decorative-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.decorative-lines .row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.line {
  height: 12px;
  border-radius: 8px;
  margin: 10px;
}

.white {
  background-color: white;
}

.pink {
  background-color: var(--secondary-color);
}

/* Tamaños personalizados */
.short {
  width: 50px;
}

.medium {
  width: 110px;
}

.long {
  width: 160px;
}

.extra-long {
  width: 300px;
}

.space {
  width: 70px;
}

.contact-form .form-control {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid #ddd;
}
@media (max-width: 768px) {
  .contact-form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }
  .form-control {
    font-size: 1rem;
    padding: 8px;
  }
}



.form-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn-pink {
  background-color:  var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
@media (max-width: 768px) {
  .btn-pink {
    width: 80%;
    font-size: 1rem;
  }
}



.btn-pink:hover {
  background-color:  var(--secondary-color);
}
@media (max-width: 768px) { /* Para celulares */
  .contact-section {
    padding: 30px;
  }
  .contact-title {
    font-size: 2.5rem;
    text-align: center;
  }
  .cat-img {
    max-width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
  }
  .contact-form {
    padding: 10px;
  }
}
@media (max-width: 360px) { /* Para tablets */
  .contact-title {
    font-size: 2.2rem;/*ajustado para evitar cortes*/
  }

  }
  .btn-pink {
    width: 80%;
    margin: 0 auto;
  }





