:root {
  --primary-color: #425184;
  --secondary-color: #d579af;
  --color_texto_menu: #425184;
  --fuente-principal: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--fuente-principal);
  background-color: white;
  padding-top: 60px; 
}

header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  height: 60px; 
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header.visible {
  position: fixed;
  top: 0;
  transition: top 0.3s ease-in-out;
}

header.oculto {
  position: fixed;
  top: -60px;
  transition: top 0.3s ease-in-out;
}

.imagen-Usuario-header{
  width: 28px;
  height: 28px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  object-fit: cover;
}

/* Logo */
.logo img {
  height: 40px;
}

.icono-corazon{
  width: 27px;
  height: auto;
}

/* Botón hamburguesa */
.hamburguesa {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}

/* Menú (escritorio) */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navegacion li a {
  text-decoration: none;
  color: var(--color_texto_menu);
  font-weight:600;
  transition: color 0.3s;
}

.navegacion li a:hover {
  color: var(--secondary-color);
}

.iconos{
  margin-right: 2rem;
}

/* Íconos escritorio */
.iconos a img {
  height: 28px;
  margin-left: 15px;
}

/* Íconos móviles */
.iconos-movil {
  display: none;
}

/* Responsive: menú hamburguesa en móvil */
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu:not(.activo) {
    display: none;
  }

  .navegacion {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }

  .iconos {
    display: none;
  }

  .iconos-movil {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
