.registro-section {
  background-color: var(--color-morado);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  height: 100vh;
}


.link-to-logIn {
  color: white;
  margin-bottom: 2rem;
}

.link-to-logIn:hover {
  color: var(--color-rosa);
  margin-bottom: 2rem;
}

.imagen-gato {
  width: 19rem;
}
.gatitofoto-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding-right: 2rem;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 11px;
  .profile-picture {
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 4%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
    }
  }
  .icono-editar-foto {
    border-radius: 100px;
    width: 30px;
    height: auto;
    position: relative;
    right: 20px;
    top: 50px;
  }
  .icono-editar-foto:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35px;
    height: auto;
  }

  
}

.loading{
    margin-top: 42%;
}


.registrarse-container {
  width: 40%;

  .titulo-registrarse {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

.gatitofoto {
  background-color: var(--color-morado);
}
