*{
    padding: 0;
    margin: 0;
}

:root {
  --color-morado: #425184;
  --color-rosa: #d579af;
  --background-color: #ffffff;
  --font-poppins: "Poppins", sans-serif;
}


body {
  background-color: var(--background-color);
  @import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-poppins);
  margin: 0;
}