.menu-title {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 2rem auto 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #d679af;
  width: 90%;
  word-wrap: break-word;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto 2rem;      
  padding: 12px 8rem;       
  list-style: none;
  position: sticky;
  top: 60px;
  z-index: 8;
  transition: top 0.3s ease-in-out;
}


.filtros.oculto {
  top: -100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filtros.visible {
  top: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filtro-btn {
  background-color: #323d6b;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.filtro-btn:hover,
.filtro-btn.active {
  background-color: #d679af;
}

.etiqueta-seccion {
  background-color: #d679af;
  color: white;
  font-weight: bold;
  padding: 10px 150px;
  border-radius: 0 25px 25px 0;
  width: fit-content;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2rem 4rem;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-items: center;
}

@media (max-width: 1024px) {
  .contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem 3rem;
    gap: 1.5rem;
  }

  .etiqueta-seccion {
    padding: 10px 50px;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .contenedor-productos {
    grid-template-columns: 1fr;
    padding: 0 1rem 2rem;
    gap: 1rem;
  }

  .filtros {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
  }
  

  .filtro-btn {
    flex: 1 1 auto;
    min-width: 90px;
    max-width: 100px;
    padding: 8px 10px;
    font-size: 0.9rem;
    text-align: center;
  }

  .etiqueta-seccion {
    padding: 10px 30px;
    font-size: 0.95rem;
    border-radius: 0 20px 20px 0;
  }
}

.contenedor-tarjeta-menu:hover{
  transform: scale(1.2);
}



.contenedor-tarjeta-menu{
  transition: 0.5s ease;

}