/*Contenedor principal de la tarjeta menú*/
.contenedor-tarjeta-menu {
  display: flex;
  flex-direction: column; /* Organiza los hijos verticalmente*/
  justify-content: space-between; /*Espacio entre el contenido y los botones */
  background-color: white;/*Fondo blanco */
  border: 5px solid var(--color-morado);/*Borde morado grueso */
  border-radius: 26px; /* Esquinas redondas*/
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 500px;/*No crece más de 500px */
  height: auto; /*  deja que crezca según el contenido */
  box-sizing: border-box;/*Incluye padding y borde en el tamaño total */
  overflow: hidden;/*Oculta el contenido que sobresalga */
}
/* Sección superiror que contiene imagen y descripción*/
.contenido-tarjeta {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: .6rem;  
}
/* Contenedor para imagen y texto del producto*/
.contenedor-producto {
  display: flex;
  flex-direction: row; /* siempre imagen izquierda, texto derecha */
  align-items: center; /*Centrado vertical */
  gap: 1rem; /*Espacio entre imagen y texto*/
  padding-left: .2rem;
  flex: 1;
}

/* Estilos de la imagen del producto*/
.contenedor-producto img {
  border-radius: 20px;
  width: 140px;
  height: 140px;
  object-fit: cover; /* Cubre el área sin deformarse*/
  flex-shrink: 0; /*para que no se encoja en layouts pequeños */
  
}

/* Titulo del producto*/
.titulo-comida {
  font-size: clamp(1rem, 2.5vw, 1.6rem);
  text-align: center;
}
/* Precio del producto*/
.precio-comida {
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
}
/*Contenedor de la información textual del producto */
.contenedor-info-producto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  text-align: left;
}

/*Descripción del producto */
.descripcion-comida {
  text-align: justify;
  overflow-wrap: break-word;
  font-size: .8rem
  
}

/*Contenedor de botones: suma, restar, añadir, corazón */
.contenedor-botones-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 0 0 22px 22px;
  background-color: var(--color-rosa);
  padding: 0.4rem ; /* Ajustado para que no se vea tan separado */
}
/* Tamaños de los íconos de suma y resta*/
.icono-resta,
.icono-suma {
  width: 1.5rem;
}
/* Tamaño del ícono de corazón*/
.icono-corazon-rojo {
  width: 2rem;
}

.añadir-comida {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

/* Media Query para dispositivos de pantalla de hasta 530px */
@media (max-width: 530px) {
  .contenedor-tarjeta-menu {
    border-width: 3px;
  }

  .contenedor-producto img {
    width: 150px;
    height: 150px;
  }
}
/* Media Query para dispositivos de pantalla de hasta 600px */
@media (max-width: 600px) {
  .contenedor-producto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contenedor-info-producto {
    text-align: center;
  }
}
@media  (min-width: 768px) and (max-width: 1024px) {

.contenedor-menu-tematico {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila */
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
    background-color: #fdf8f9;
  }
}


