.contenedor-tarjeta-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 5px solid var(--color-morado);
  border-radius: 26px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden; /* evita que el contenido sobresalga del borde redondeado */
}

.contenido-tarjeta {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;  
}

.contenedor-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.contenedor-producto img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  max-width: 100%;
}

.titulo-comida {
  font-size: clamp(1rem, 2.5vw, 1.6rem);
}

.precio-comida {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.contenedor-info-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
}

.descripcion-comida {
  text-align: justify;
  overflow-wrap: break-word;
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.contenedor-botones-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 0 0 22px 22px;
  background-color: var(--color-rosa);
  padding: 0.8rem 1rem; /* Ajustado para que no se vea tan separado */
}

.icono-resta,
.icono-suma {
  width: 1.5rem;
}

.icono-corazon-rojo {
  width: 2rem;
}

.añadir-comida {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

/* Media Query para dispositivos pequeños */
@media (max-width: 530px) {
  .contenedor-tarjeta-menu {
    border-width: 3px;
  }

  .contenedor-producto img {
    width: 150px;
    height: 150px;
  }
}

